@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

body{
  font-family: "Noto Sans KR", sans-serif!important;
  word-break: keep-all;
}

     @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }

.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}


.social{
  height: 1rem;
  width: auto;
}

.contact-btn{
  width: 200px!important;
  height: 50px!important;
}

#title{
  height: 100%;
  width: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-img{
    width: 100%;
    height: auto;
}

.modal-content{
  max-height: calc(100% - (0.5rem * 2));
}

.modal-title{
  font-weight: 700!important;
}
